body {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("/images/background.jpg");
	background-position: left top;
	background-repeat: repeat-x;
}

a:link, a:visited {
	color: #F60;
}

h4 {
	margin-bottom: 3px;
}

a:hover, a:active {
	color: #F63;
	text-decoration: none;
}

#searchTable{
	margin: auto; 
	padding-top: 40px;
	text-align: left; 
	width: 400px;"
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	
    }

.button {
	background-color: transparent;
	background-image:url("/images/searchButton.gif");
	color: #666;
	border: none;
	width: 110px;
	height: 40px;
}

.buttonOver {
	background-color: transparent;
	background-image:url("/images/searchButton_over.gif");
	color: #666;
	border: none;
	width: 110px;
	height: 40px;
}

#resultsTable {
	margin-top: 40px;
	color: #000;
}

.floatLeft {
	float: left; 
	margin-left: 10px;
	padding: 10px;
}

.bookingContact {
	float: right;
	font-size: 0.8em;
	color: #333;
}

.clearfix {
	clear: both;
}

#resultItem {
	background-color: #ebebeb;
	border: 1px solid #666666;
	padding: 10px 30px 5px;
	color: #333333;
	width: 50%;
	align: center;
	text-align: left;
	margin: auto;
	margin-bottom: 5px;
	
	border-radius: 12px;
	-moz-border-radius: 12px;
}

#resultItem h3 {
	padding: 0; margin: 0;
}

.bandName {
	width: 60%;
}

.cityName {
	padding-top: 3px;
	font-style: italic;
	font-size: 0.9em;
	padding-bottom: 8px;
}

.genreBox {
	float: right;
	width: 30%;
	text-align: right;
	font-style: italic;
/* 	padding-top: 20px;*/
	margin-left: 10px;
}


#genre_cloud_box { 
	margin-top: 5px;
	text-align: center;
	width: 65%;
	margin: 5px auto;
}

#countTable {
	text-align: center;
	color: #333;
	background-color: #ddd;
	padding: 6px 3px;
	border: 1px solid #333;
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	width: 50%;
	margin: 30px auto 0px;
}

#countTable p { margin: 0; padding: 0;}

.genre_cloud_entry {
	background-color: #fff;
	color: #333;
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	display: inline;
	margin-right: 10px;
	padding: 2px 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.genre_cloud_entry a, .genre_cloud_entry a:hover, .genre_cloud_entry a:visited { color: #333; text-decoration: none;}

div#selected {
	padding: 4px 6px;
	background-color: yellow;
	font-weight: bold;
}

div#reset_button {
	background-color: #069;
	color: #fff;
}

div#reset_button a, div#reset_button a:hover, div#reset_button a:visited { color: #fff; }

.size_1 {
	font-size: 0.8em;
}

.size_2 {
	font-size: 1.0em;
}

.size_3 {
	font-size: 1.2em;
}

.size_4 {
	font-size: 1.4em;
}

.size_5 {
	font-size: 1.6em;
}

