<h1>SEARCH PAGE</h1>

<h2>Search by band name</h2>

<% form_tag({ :action => "search" }) do %>
	<%= text_field_tag :search_term %>
	<%#= autocomplete_field_tag :search_term, "", "browse/autocomplete_band_name" %>
	<%= submit_tag "Search", :id => "submit2", :name => "submit2", :class => "table_form" %>
<% end %>

<p></p>

<%= params[:search_term ]%>

<% if @result %>
<%= @result.inspect %>
<% end %>
