<!DOCTYPE html>
<html>
<head>
  <title>Texas Music Database</title>
  <%= stylesheet_link_tag "app" %>
  <%= javascript_include_tag :all, :cache => false %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
