<!DOCTYPE html>
<html>
<head>
  <title>Texas Music Database</title>
  <%= stylesheet_link_tag "app" %>
  <%= javascript_include_tag "jquery-1.4.3.min.js", "rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
